{% if site.theme_settings.katex and page.id %}
<script src="{{ "/assets/js/katex_init.js" | relative_url }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
	<nav class="footer-links">
		<a href="{{ '/about/' | relative_url }}">About</a>
		<span class="separator">•</span>
		<a href="{{ '/contact/' | relative_url }}">Contact</a>
		<span class="separator">•</span>
		<a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a>
	</nav>
</footer>
{% endif %}
